.App {
  text-align: center;
}

.herosection{
  background-color: #262626;
  background-image:linear-gradient(to right,rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0)),url('./images/bg3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.msg{
  width: 100%;
  display: flex;
  justify-content: center;
  background: #000;
  height: 90px;
  font-size: 20px;
  color: #fff;
  letter-spacing: 1px;
  align-items: center;
  font-weight: bold;
}

.navbar{
  margin-top: 2%;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 8%;
}
.logoimage{
  width: 100%;
  height: 100%;
}
.left{
  margin-left: 0;
}
.right{
  width: 10%;
  margin-left: 70%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0 10px 0 10px;
  border: 1px solid #fff;
  border-radius: 5px;
  background-color:  rgba(23, 22, 22, 0.5);
  transition: all 0.6s;
}
.right:hover{
  border: 1px solid #fcb44d;
  border-radius: 5px;
}

.icons{
  color: #fcb44d;
  text-align: center;
  justify-content: center;
  width: 100%; 
  font-size: 20px;
  margin-top: 10px;
  font-weight: 400;
  font-weight: bold;
}

.fa-fire{
  font-size: 25px;
  color: #fcb44d;
  justify-content: center;
}

.greet{
  margin-top: 13%;
  z-index: 100;
  color: #fff;
}

h1{
  font-size: 70px;
  font-weight: 900;
}
p{
  font-size: 50px;
  font-weight: 700;
}
h2{
  font-size: 30px;
}

.getstarted{
  margin-top: 5%;
  color: #000;
  width: 15%;
  font-size: 20px;
  background-color: #f6d658;
  border: none;
  border-radius: 5px;
  height: 40px;
  font-weight: bold;
}
.getstarted:hover{
  background-color: #f8d32b;
}
.form-select{
  border-radius: 5px;
  width: 100%;
  border: none;
  height: 100%;
  font-size: 18px;
  background-color: #e9e9e9;
  border: 1px solid #000;
  font-weight: bold;
}

.result{
  width:100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  background-color: #000;
  justify-content: center;
}
.display{
  height: 80vh;
  padding-top: 5%;
  border: 1px solid black;
  color: #000;
  width: 100%;
}
.card-container{
  height: 370px;
  width: 250px;
}
.movie_name{
  width: 250px;
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: #fff;
  font-size: 18px;;
}
.card-img{
  width: 250px;
  height: 370px;
  cursor: pointer;
  background-size: cover;
  border-radius: 5px;
  color: #fff;
  display: flex;
  background-position: center;
  background-repeat: no-repeat;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.2s;
}
.card-img:hover{
  transform: scale(1.02);
}

.card-img-overlay{
  color: #000;  
  height: 45px; 
}
.card-title{
  margin: 0;
}
.card-link{
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  padding: 2%;
  background: rgba( 0, 0, 0, 0.3 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 17px );
  -webkit-backdrop-filter: blur( 17px );
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #fff;
}
.card-link:visited{
  color: #fff;
}
.card-link:hover{
  text-decoration: none;
  color: #fff;
}
.rating{
  background: rgba( 0, 0, 0, 0.3 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 17px );
  -webkit-backdrop-filter: blur( 17px );
  width: 25%;
  border-top-right-radius:20px ;
  border-bottom-right-radius:20px ;
  font-size: 18px;
  font-weight: 500;
  padding: 2%;
  margin-top: 5%;
}
span{
  color: #f6d658;
}
.display{
  border: none;
  display: flex;
  flex-direction: row;
}
.content{
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.search{
  height: 50px;
  width: 40%;
  display: flex;
  padding-left: 2%;
  align-items: center;
}
form{
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: #262626;
}
.search_text{
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 90%;
  height: 100%;
  text-align:left;
  background-color: #262626;
  padding-left: 20px;
}
.search_text:focus{
  outline: none;
}
input[type="text"] {
  font-size:20px;
  color: #ffff;
}
button{
  width: 8%;
  border: none;
  background-color: transparent;
}

.fa-magnifying-glass{
  font-size: 20px;
  color: #757575;
}
.dropdown{
  font-size: 20px;
  color: #fff;
  border-radius: 5px;
  width: 12% ;
  height: 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.select{
  width: 100%;
  height: 100%;
  border-radius: 5px;
  cursor: pointer;
  background-color: #262626;
  border: none;
  padding: 4px;
}
.select:focus,.select:hover{
  outline: none;
  border: 1px solid #757575;
}

.trending{
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  padding: 2%;
  padding-top: 4%;
  padding-bottom: 4%;
}
.trending-conatiner{
  background-color: #111111;
}
.load{
  text-align: center;
  color: #757575;
  width: 100%;
}
#gear{
  width: 60%;
  height: 80%;
}
.trend{
  color: #fff;
  text-align: center;
}